APP_PORT=8080

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=inventory

JWT_SECRET=your_super_secret_jwt_key_change_this_in_production

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=25
MAIL_USERNAME=8085322969f56c
MAIL_PASSWORD=1ccd7312fcf4e8
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=test@mailtrap.io
MAIL_FROM_NAME="GRAHAPADI"