# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Compiled binary
/warehouse-backend

# Environment variables
.env

# IDE
.vscode/
.idea/

# Vendor
vendor/
